.todo-checkbox {
	position: absolute;
	right: 10px;
	width: 25px;
	height: 25px;
}
.delete-button {
	background-color: white;
	border: 1px solid #e74c3c;
	background-image: none;
	border-radius: 0;
	color: #e74c3c;
	width:100px;
}
.x-button-label {
	font-weight: 200 !important;
}
.edit-button {
	background-color: #27ae60;
	background-image: none;
	border-radius: 0;
	border: none;
	color: white;
	width:100px;
}
.x-button-label {
	font-weight: 200 !important;
}
.static-text {
	margin: 0 auto;
	line-height: 45px;
}
.x-field-mask:after {
	text-align: center !important;
	line-height: 1.6em;
	background-color: white;
	border-radius: 23px;
	width: 45px;
	height: 45px;
	border: 1px #84afcd solid;
}
.x-list-normal .x-list-item.x-item-selected .x-dock-horizontal {
	background-color: whitesmoke !important;
	background-image: none;
	border: none;
	color: #84afcd;
	box-shadow: 1px 1px 15px black;
}